@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap);
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

.html{
  scroll-behavior: smooth;
}
  /* Navbar css */
  .navbar {
    background: #ffffff;
  }
  
  
  .offcanvas-header{
    background:#ffffff;
  }
  
  
  .navbar .navbar-nav .nav-item:last-child {
    margin-right: 60px;
  }
  
  .navbar-brand {
    margin-left: 70px;
  }
  
  .navbar .nav-item.dropdown:hover .dropdown-menu {
    display:inline-block;
  }
  
  .navbar-nav .nav-item {
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .navbar-toggler{
    border: 1px solid gray;
  }
  .navbar-toggler:focus{
    border: none;
  }
  
    
  
  a.nav-link, a.nav-link.dropdown-toggle {
    color: #292929;
   
    font-weight:500  ;
    font-size: medium;
  }
  
  a.nav-link:hover {
    color: #333333;
    text-decoration: underline;
  }
/* Modal Styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4); /* Overlay background */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* Center it vertically and horizontally */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    text-align: center;
  }
  
  /* Close Button */
  .close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
  }
  
  /* Style the Close Button on Hover */
  .close:hover {
    color: #f00;
  }

  
  

  